.site-navigation {
    max-height: 50px;
    background-color: #67aeca;
    font-size: 15px;
    font-family: "Times New Roman";
    font-weight: bold;
    padding: inherit;
}

.footer {
    background-color: #67aeca;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    min-height: 50px;
    font-family: 'Times New Roman';
}

.big-banner {
    background-image: url('/img/innova_background.jpg');
    background-size: 100%;
}

/* Media Queries */
@media (max-width: 991.98px) {
    .navbar-expand-lg {
        background-color: #67aeca;
    }

    .navbar {
        max-height: none;
        padding: inherit;
    }

    .navbar div {
        margin: inherit;
        background-color: white;
    }

    .navbar-brand {
        padding: 10px;
    }

    .navbar-nav {
        background-color: #67aeca;
    }

    .nav-link {
        background-color: #67aeca;
        color: white;
    }

    button {
        margin-left: auto;
        background-color: #67aeca;
        color: white;
    }

    button:focus {
        outline: 1px dotted;
    }

    .big-banner {
        background: url('/img/innova_background.jpg') repeat-x;
    }
}