<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>NC Disc Golf Project</title>
    {% endif%}
</head>

<body>
    <header class="site-navigation">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/home">Home</a>
            <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/history">History</a>
                        <a class="nav-item nav-link" href="/courses_map">Courses Map</a>
                        <a class="nav-item nav-link" href="/innova">Innova Discs</a>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
    <main>
        <div class="jumbotron big-banner" style="height:700px; padding-top: 50px;">
            <div class="container">
                <h1 class="display-4">North Carolina Disc Golf Project</h1> <br>
                <div class="row justify-content-end">
                    <div class="card text-center" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">History</h5>
                            <p class="card-text">Learn of the rich history of North Carolina Disc Golf!
                            </p>
                            <a href="/history" class="btn">History is written by the victors</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="card text-center" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">Courses Map</h5>
                            <p class="card-text">Find where disc golf courses are in North Carolina!
                            </p>
                            <a href="/courses_map" class="btn">Take me there!</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="card text-center" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">Innova Discs</h5>
                            <p class="card-text">Check out the discs that Innova makes!
                            </p>
                            <a href="/innova" class="btn">I love discs!</a>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    {% endblock %}
    <footer>
        <div class="footer">
            Copyright awbrown404 2020
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>